body{
  margin: 0;
}
#escolha ul{
  margin:0;
  background-color: #33ffcc;
  list-style: initial;
}

#escolha ul li{
  display: table;

}

#escolha ul li a{
  padding: 10px 10px;
  display: table;

  color:green;
  text-decoration: none;
}
#escolha ul li a:hover{
  color: #003333;
}
